<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}My Site{% endblock %}</title>
  <!--webpack_style_placeholder-->
  {% block style %}{%endblock%}
</head>
<body>
  <header>Express && webpack && pages</header>
  {% block content %}{% endblock %}
  {% if env == 'dev' %}
    <script src="/reload/reload.js"></script>
  {% endif %}

  <!--webpack_script_placeholder-->
  {% block script %}{%endblock%}
  <footer>
    <hr/>
    <a href="mailto:gaochao04@gmail.com">mailto: gaochao04@gmail.com</a>
  </footer>
</body>
</html>
